In [ ]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.
"""A database is information that is set up for easy access, management and updating. Computer databases typically store aggregations
of data records or files that contain information, such as sales transactions, customer data, financials and product information.
Databases are used for storing, maintaining and accessing any sort of data. They collect information on people, places or things. 
That information is gathered in one place so that it can be observed and analyzed. Databases can be thought of as an organized 
collection of information.
Index	SQL	NoSQL
1)	Databases are categorized as Relational Database Management System (RDBMS).	NoSQL databases are categorized as Non-relational or distributed database system.
2)	SQL databases have fixed or static or predefined schema.	NoSQL databases have dynamic schema.
3)	SQL databases display data in form of tables so it is known as table-based database.	NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores.
4)	SQL databases are vertically scalable.	NoSQL databases are horizontally scalable.
5)	SQL databases use a powerful language "Structured Query Language" to define and manipulate the data.	In NoSQL databases, collection of documents are used to query the data. It is also called unstructured query language. It varies from database to database.
6)	SQL databases are best suited for complex queries.	NoSQL databases are not so good for complex queries because these are not as powerful as SQL queries.
7)	SQL databases are not best suited for hierarchical data storage.	NoSQL databases are best suited for hierarchical data storage.
8)	MySQL, Oracle, Sqlite, PostgreSQL and MS-SQL etc. are the example of SQL database.	MongoDB, BigTable, Redis, RavenDB, Cassandra, Hbase, Neo4j, CouchDB etc. are the example of nosql database
"""

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
"""
Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.
DDL Commands :
We will cover the following DDL commands as follows.
Create
Alter 
truncate
drop

1) CREATE :
This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

CREATE TABLE table_name (column_1 datatype,column_2 datatype,column_3 datatype);

2) ALTER :
This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.

ALTER TABLE table_name ADD column_name datatype;

3) TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

TRUNCATE TABLE table_name;

4) DROP :
This command is used to remove an existing table along with its structure from the Database.

DROP TABLE table_name;
"""

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
"""DML(Data Manipulation Language): 
The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements. It is the component of the SQL statement that controls access to data and to the database. Basically, DCL statements are grouped with DML statements.
List of DML commands: 

INSERT : It is used to insert data into a table. exp: insert into table_name values(value1,value2,value3)
UPDATE: It is used to update existing data within a table. exp: update a set coulumn_name=updated_value from table_name
DELETE : It is used to delete records from a database table. exp: delete from table_name where condition  """

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.
"""
DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

List of DQL: 

SELECT: It is used to retrieve data from the database. exp: select * from table_name
"""

In [ ]:
#Q5. Explain Primary Key and Foreign Key.
"""
Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Example: Refer the figure – 
STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys). 
Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 
Example: Refer the figure – 
STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation. 
"""

In [ ]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
"""
A cursor is an object which helps to execute the query and fetch the records from the database.
The cursor plays a very important role in executing the query. This article will learn some deep information about the execute
methods and how to use those methods in python.
The execute () method helps us to execute the query and return records according to the query. The syntax of the execute () function is:
execute (query, args = None)
"""
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("insert into test2.test_table values(1,'shilpa',10.4,12,'fyah')")
mydb.commit()
mycursor.execute("select * from test2.test_table ")
for i in mycursor.fetchall():
    print(i)

mydb.close()

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.

Order	Clause	Function
1	FROM	Tables are joined to get the base data.
2	WHERE	The base data is filtered.
3	GROUP BY	The filtered base data is grouped.
4	HAVING	The grouped base data is filtered.
5	SELECT	The final data is returned.
6	ORDER BY	The final data is sorted.
7	LIMIT	The returned data is limited to row count.