In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd
ds = pd.Series([4,8,15,16,23,42])
print(ds)
print(type(ds))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
l=[1,2,3,4,5,6,7,8,9,10]
ser=pd.Series(l)
print(ser)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [8]:
#Q3. Create a Pandas DataFrame that contains the following data:
data={"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Female","Female"]}
print(data)
df=pd.DataFrame(data)
print(df)

{'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25, 30, 27], 'Gender': ['Female', 'Female', 'Female']}
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30  Female
2  Claire   27  Female

In [9]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
"""Pandas Series-	
One-dimensional	
Homogenous – Series elements must be of the same data type.	
Size-immutable – Once created, the size of a Series object cannot be changed.	

Pandas DataFrame-
Two-dimensional
Heterogenous – DataFrame elements can have different data types.
Size-mutable – Elements can be dropped or added in an existing DataFrame.  """

author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
auth_series = pd.Series(author)
article_series = pd.Series(article)
frame = { 'Author': auth_series, 'Article': article_series }
result = pd.DataFrame(frame)
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178

In [10]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
"""
1. drop column=data.drop(['Survived', 'Name'], axis=1)
2.Rename column=data.rename(columns={'PassengerId': 'Id'})
3. check datatype=df.dtypes
Slicing the dataset=data.iloc[:5, 0]
copy dataframe=df_dup = data.copy()
drop duplicates=df_dup.drop_duplicates()
condition apply=data[data['Pclass'] == 1]
Group by in DataFrame=data.groupby('Sex').agg({'PassengerId': 'count'})
"""

In [ ]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
"""
Series	1	1D labeled homogeneous array, sizeimmutable.
Data Frames	2	General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed columns.
Panel	3	General 3D labeled, size-mutable array.
"""

In [ ]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
auth_series = pd.Series(author)
article_series = pd.Series(article)
frame = { 'Author': auth_series, 'Article': article_series }
result = pd.DataFrame(frame)
print(result)