In [6]:
#Q1. List any five functions of the pandas library with execution.
import pandas as pd

df=pd.read_csv("services.csv")
df.head(3)
df.dtypes
df.describe()
pd.Categorical(df['email'])

['vip059@9.cn', 'u0987@live.com', 'chunks@post.com', 'msalaqel@sba.sa', 'ramy2012@me.com', ..., 'zxp46dn6bc@privaterelay.appleid.com', 'zy8cmssmph@privaterelay.appleid.com', 'zypypzfntx@privaterelay.appleid.com', 'zz2ux9g6a7@privaterelay.appleid.com', 'zzdfmt6k46@privaterelay.appleid.com']
Length: 2240
Categories (2234, object): ['22c29cvqw2@privaterelay.appleid.com', '22zdxj5tg8@privaterelay.appleid.com', '24nnz6f9yc@privaterelay.appleid.com', '26sjwmpff7@privaterelay.appleid.com', ..., 'zy8cmssmph@privaterelay.appleid.com', 'zypypzfntx@privaterelay.appleid.com', 'zz2ux9g6a7@privaterelay.appleid.com', 'zzdfmt6k46@privaterelay.appleid.com']

In [27]:
#Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', 
#write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

df=pd.DataFrame({'a':[1,2,3,4],'b':[24,65,18,30],'c':['ramesh','rahul','sunita','tina']},index=[1,3,5,7])
df

   a   b       c
1  1  24  ramesh
3  2  65   rahul
5  3  18  sunita
7  4  30    tina

In [29]:
#Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the 
#first three values in the 'Values' column. The function should print the sum to the console. For example, if the 'Values' column of df contains the values
#[10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.
df=pd.DataFrame({'values':[10,20,30,40,50]})
def sum_val(df):
    return df['values'][0:3].sum()
df1=sum_val(df)

60

In [34]:
#Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the
#number of words in each row of the 'Text' column.
pd.set_option("display.max_colwidth",300)
df=pd.DataFrame({'text':["Reindexing is used to conform DataFrame to new index with optional filling logic and to place NaN in that location where the values are not present in the previous index. It produce a new object unless the new indexis equivalent to the current one, and values of copy becomes False."],})
df['word_count']=df['text'].apply(lambda x:len(x.split()))
df

,text,word_count
0,"Reindexing is used to conform DataFrame to new index with optional filling logic and to place NaN in that location where the values are not present in the previous index. It produce a new object unless the new indexis equivalent to the current one, and values of copy becomes False.",50

In [2]:
#Q5. How are DataFrame.size() and DataFrame.shape() different?
"""Syntax: dataframe.size
Return : Returns size of dataframe/series which is equivalent to total number of elements. That is rows x columns.

Syntax: dataframe.shape
Return : Returns tuple of shape (Rows, columns) of dataframe/series """
import pandas as pd
df=pd.read_csv("services.csv")
print(df.size)
print(df.shape)

4480
(2240, 2)

In [ ]:
#Q6. Which function of pandas do we use to read an excel file?
df=pd.read_excel("services.csv")

In [7]:
#Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column
#'Username' in df that contains only the username part of each email address.
data={'email':['shilpa.garg@gmail.com','suraj.goyal@gmail.com','bhavna@outlook.com','mamta.tayal@hotmail.com']}
df=pd.DataFrame(data)
df['Username']=df['email'].apply(lambda x:x.split('@')).str[0]
df

                     email     Username
0    shilpa.garg@gmail.com  shilpa.garg
1    suraj.goyal@gmail.com  suraj.goyal
2       bhavna@outlook.com       bhavna
3  mamta.tayal@hotmail.com  mamta.tayal

In [13]:
#Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
#all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
#function should return a new DataFrame that contains only the selected rows.

df=pd.DataFrame({'A':[3,8,6,2,9], 'B':[5,2,9,3,1], 'C':[1,7,4,5,2]})
df
df1=df[(df['A']>5) & (df['B']<10)]
df1

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [16]:
#Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
#median, and standard deviation of the values in the 'Values' column.
df=pd.DataFrame({'values':[1,4,6,3,2,1,3,4]})
print(df.mean())
print(df.median())
print(df.std())

values    3.0
dtype: float64
values    3.0
dtype: float64
values    1.690309
dtype: float64

In [23]:
#Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' 
#that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a
#window of size 7 and should include the current day.
df=pd.DataFrame({'Sales':[23,12,34,65,7,12,9,7,4,12,4,6,6,44,3,3,2,2,56,78,8,1]})
df
print(len(df['Sales']))
df['Date']=pd.date_range(start='2023-01-01',periods=len(df['Sales']))
df['MovingAverage']=df['Sales'].rolling(window=7).mean()
df

22

    Sales       Date  MovingAverage
0      23 2023-01-01            NaN
1      12 2023-01-02            NaN
2      34 2023-01-03            NaN
3      65 2023-01-04            NaN
4       7 2023-01-05            NaN
5      12 2023-01-06            NaN
6       9 2023-01-07      23.142857
7       7 2023-01-08      20.857143
8       4 2023-01-09      19.714286
9      12 2023-01-10      16.571429
10      4 2023-01-11       7.857143
11      6 2023-01-12       7.714286
12      6 2023-01-13       6.857143
13     44 2023-01-14      11.857143
14      3 2023-01-15      11.285714
15      3 2023-01-16      11.142857
16      2 2023-01-17       9.714286
17      2 2023-01-18       9.428571
18     56 2023-01-19      16.571429
19     78 2023-01-20      26.857143
20      8 2023-01-21      21.714286
21      1 2023-01-22      21.428571

In [35]:
#Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. 
#The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
date=pd.date_range(start='2023-01-10',end='2023-01-15')
df=pd.DataFrame({'date':date})
df['Weekday']=df['date'].dt.day_name()
df

        date    Weekday
0 2023-01-10    Tuesday
1 2023-01-11  Wednesday
2 2023-01-12   Thursday
3 2023-01-13     Friday
4 2023-01-14   Saturday
5 2023-01-15     Sunday

In [ ]:
#Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
#function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

def select_rows_between_dates(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_rows = df.loc[mask]
    return selected_rows

selected_rows = select_rows_between_dates(df)

In [ ]:
#Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?
import pandas as pd